# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
env/
env1/
venv/
ENV/
.venv/
.env/

# VS junk
.vs/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# SQLite databases
*.db
*.sqlite3

# Flask instance folder
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store
